@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


#container {
  margin: 1rem;
}

.items {
  margin-bottom: 1rem;
}

:root {
    /* table row fills: */
    --tableOddFill: rgb(224, 204, 204);
    --tableAllFill: #f9fafb;
    --tableFirstRow: rgb(189, 135, 135);

    /* table font fills: */
    --tableFontColor: #3d3b3b;

    /* table border fills: */
    --tableBorderColor: rgb(7, 12, 12);
}

body {
    margin: 0;

    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Notification styles: */

.change {
    color: green;
    font-size: 20px;
    background: lightgrey;

    border-style: solid;
    border-radius: 10px;
    
    padding: 10px;
    position: absolute;
    width: fit-content;
}

.error {
    color: red;
    font-size: 20px;
    background: lightgrey;

    border-style: solid;
    border-radius: 10px;

    padding: 10px;
    position: absolute;
    width: fit-content;
}


/*Menu styles:*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    min-height: 10vh;

    background: var(--tableBorderColor);
    color: var(--tableAllFill);
    font-weight: bold;
}

.nav-links {
    width:fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-links > a {
    margin-right: 10px;
}


/*Table styles: */

.postBody {
    white-space: pre-wrap;
    width: fit-content;
}

table {
    border-collapse: collapse;
}

table :hover {
    cursor: pointer;
}

table td {
    padding: 1vw;
}

table tbody td {
    border: 2px solid var(--tableBorderColor);
}

table tbody tr {
    color: var(--tableFontColor);
}

table tbody tr {
    background-color: var(--tableAllFill);
}

table tbody tr:nth-child(odd) {
    background-color: var(--tableOddFill);
}

table tbody tr:hover {
    background-color: var(--tableAllFill);
}

table tbody tr:nth-child(1) {
    font-weight: 700;
    color: var(--tableBorderColor);
    background-color: var(--tableFirstRow);
}

table tbody tr td:nth-child(3) {
    width: 20vw;
}

table tbody tr td:nth-child(4) {
    width: 40vw;
}


/* Post styles: */

.postWrap{
    display: grid;
    justify-content: center;
}

.postProperty{
    font-weight: 500;
    width: 100px;
    height: fit-content;
    float: left;
}

.postInnerWrap{
    display: inline;
}

.postContainer > h3 {
    margin-top: 10px;
}

.postValue{
    width: fit-content;
    height: fit-content;  
    font-weight: 300;
}

.postValueWrap{
    float: left;
    display: inline;
    width: fit-content;
}


/* Form styles: */

form{
    display: inherit;
}

.formsWrap{
    display: inline;
}

.formsWrapInner{
    float: left;
    display: inline;
    width: fit-content;
    margin-bottom: 15px;
}

.formsWrap > h3 {
    width: 75px;
    height: fit-content;
    float: left;
    margin: 0;
}

.formsTextboxTitle{
    width: 33.33vw;
    min-width: 350px;
    max-width: 650px;

    height: 7vh;
    min-height: 25px;
    max-height: 45px;
}

.formsTextboxBody{
    width: 33.33vw;
    min-width: 350px;
    max-width: 650px;

    height: 17vh;
    min-height: 200px;
    max-height: 650px;
}

.formsButton{
    padding: 8px 12px;
    cursor: pointer;

    border-width: 2.5px;
    border-color: var(--tableBorderColor);
    border-style: solid;
    border-radius: 23px;

    background-color: var(--tableAllFill);
    color: var(--tableBorderColor); 
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s; /* Safari */
}

.formsButton:hover{
    background-color: var(--tableBorderColor); 
    color: var(--tableAllFill);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
}

/* Custom styles */
.centerComponent{
    justify-content: center;
    display: flex;
}

.pagination {
    display: flex;
    list-style-type: none;
    justify-content: center;
  }
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
  
.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}
  
.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}